.title{
background-color: #ADADB2;
color: black;
height: 70px;
margin-left: 0%;
margin-bottom: -2%;
height: 55px;


}
h2 , .icon{
  float: left;
}
.main-title
{
text-align: left;
font-size: 25px;
margin-left: 25px;
margin-top: 12px;
font-weight: bold;
letter-spacing: 5px;
}

.icon-2
{

  width: 20px;
  margin-right: 3px;
  margin-top: -3px;
}
.title2,.title3
{

margin-left: 30px;
background-color: #BE0032;
width: 150px;
height: 54px;
display: inline-block;
}
.title2-text ,.title3-text
{
margin-left:25px;
margin-top: -8px;
color: white;
font-weight: bold;
letter-spacing: 2px;
}
#btn-excel
{
	margin-top: -11%;
}
#Titulo
{
	color: black;
}

/*Estilos para la presentacion de las tarjetas de los alumnos */

.contenido-alumno{
  width:100%;
  height: auto;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0px 3px 5px 3px rgba(94, 94, 94, 0.137);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.img-perfil{
  width: 95px;
  height: 95px;
  border-radius: 10px;
}

.alumno-info-content{
  width: 100%;
  background-color:rgba(165, 165, 165, 0.089);
  border-radius: 10px;
  padding:10px 15px;
  margin: 0px 10px;
  color: rgb(58, 58, 58);
}

.name{
  font-size: 1.3rem;
}

.description-alumno{
  font-size: 1rem;
  margin: 5px;
  color: #757575;
  text-align: start;
}

.description-alumno span{
  font-size: 0.9rem;
  display: block;
  margin: 5px;
  color: rgb(72, 145, 255);
}