
html,
body.container{
  display:block;
  height: 1090px;
  width: auto;
  margin-top: 3%;
  /* background: url(../img/fondo.jpg);*/

  /*background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: white;
 */
}



@media only screen and (max-width: 600px) {

  body.container{
    display:block;
    height: 180%;
      margin: 500px auto;
      padding: -100px;
      max-width: 100%;
      min-width: 100%;
    /*
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
   background-color: white;*/
  /* background-image: url(../img/FondoMovil.jpg);*/
  
 }
 

}


.form-control{
	background-color: #bcbcbc;
	color: black;
	border-radius: 20px;



}

.modal-header{
  margin: 0 auto;
	border-color: #ADADB2;
	border:3px;
}
.modal-footer{
	border-color: #ADADB2;
	border:3px;

}
.actualizarempresa{
	border-radius: 20px;
    border: 2px solid #9d120e;
    width: 200px;height: 38px;
     background-color: #9d120e;
     color:white;
}
#Guardar_Cuentas{
	border-radius: 20px;
    border: 2px solid #9d120e;
    width: 200px;height: 38px;
     background-color: #9d120e;
     color:white;
}
#exampleModalLabel{
  position: relative;
  left: 40%;
  color: #bd130dfc;
  font-size: 30px;
    
}
#exampleModal{
  position: relative;
  left: 10%;
  display: inline-flex;
	background-color: white;
  border: solid 3px #ADADB2;;
  border-radius: 30px;
  padding: 20px;
  margin: 3% auto;
  height: 100%;
  max-width: 70%;
  min-width: 70%;
	/*opacity: 0.85;
-moz-opacity: 0.85;
filter: alpha(opacity=85);
-khtml-opacity: 0.85;*/
}

.modal-body{
  position: absolute;
  top: 10%;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 100%;
}
label{
  margin: 0 0 0 10%;
  display: inline-block;
  width: 25%;
  font-family: 'Roboto Light', arial;
  font-size: 20px;
}
input,
select{
  display: inline-block;
  margin: 10px 1%;
  max-width: 42%;
  min-width: 42%;
  height: 30px;
}
option{
  color: black;
  background: white;
  font-size: initial;
}
/*adaptaci[on de pantalla para el contenedor de actualizar Usuarios*/
 @media only screen and (max-width: 600px) {
  body.container{
  display: block;
  height: 100%;
  margin-top: 3%;
}
#exampleModalLabel{
  margin-top: 3%;
  left: 0;
}
  #exampleModal{
  display: inline-flex;
  left: 1%;
  padding: 10px;
  margin: 5% auto;
  max-width: 100%;
  min-width: 100%;
   }
   label{
    display: inline-block;
    width: 45%;
    margin: 10px 0;
    padding: 0 0;
    font-family: 'Roboto Light', arial;
  
  }
  input,
  select{
    display: inline-block;
    margin: 5px 3%;
    max-width: 40%;
    min-width: 40%;
    height: 30px;
    text-align: center;
  }
}
 